workflow-completo.json
{
  "name": "Sachet Contact - Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sachet-contacto",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1-7ApBPCrblpFqQzFp1elPRdGp0tNEAemwcp5n0SoMXk",
        "range": "A1:F1",
        "headerRow": 1,
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "sheets",
      "name": "Guardar en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "subject": "Nueva cotización - Sachet Strategy 360",
        "body": "<h2>Nueva solicitud</h2>\n<p><strong>Nombre:</strong> {{$json[\"name\"]}}</p>\n<p><strong>Email:</strong> {{$json[\"email\"]}}</p>\n<p><strong>Interés:</strong> {{$json[\"interest\"]}}</p>\n<p><strong>Fecha:</strong> {{$json[\"fecha\"]}}</p>",
        "to": "tu-email@gmail.com",
        "from": "tu-email@gmail.com"
      },
      "id": "gmail1",
      "name": "Email a ti",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "subject": "Gracias por contactarnos - Sachet Strategy 360",
        "body": "<h2>¡Gracias {{$json[\"name\"]}}!</h2>\n<p>Tu solicitud ha sido recibida.</p>\n<p>Te contactaremos pronto.</p>\n<br>\n<p>Equipo Sachet Strategy 360</p>",
        "to": "={{$json.email}}",
        "from": "tu-email@gmail.com"
      },
      "id": "gmail2",
      "name": "Confirmación cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Guardar en Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Sheets": {
      "main": [
        [
          {
            "node": "Email a ti",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirmación cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "sachet-full"
}
